@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.content{
  margin-top: auto;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer{
  display: flex;
  gap :16px;
  padding: 16px 16px;
  margin-top: auto;  
  background-color: #eeeeee;
}

.header{
  display: flex;
}

.left-links{
  justify-content: flex-start;
  flex-grow: 1;
}

.right-links{
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 10px;
}

ul{ 
  display: flex;
  list-style-type: none;
  gap: 16px;
}

a{
  text-decoration: none;
}